.grid-rate td {
  padding: 3px !important;
  vertical-align: middle !important;
}
.grid-rate tr:last-child td {
  text-align: center;
}
.grid-rate tr td:first-child {
  min-width: 45px;
}
.grid-rate input {
  padding: 0;
  text-align: center;
}
.grid-rate h5 * {
  vertical-align: middle;
}
.row_inputs input {
  display: inline-block;
  width: auto;
}
#min_in_month,
#call_max,
#call_min {
  width: 90px;
  display: inline-block;
}
.simple-interface label,
.row_inputs label {
  margin-right: 5px;
}
.row_inputs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
#common_min_time,
#common_max_time,
#common_call_load {
  display: inline-block;
  width: 80px;
  margin: 0 5px;
  text-align: center;
}

#titleRate {
  width: 350px;
}
.jcsb {
  justify-content: space-between;
}
.simple-interface .item-col {
  margin-left: 15px;
}
.simple-interface .item-col:first-child {
  margin-left: 0;
}

.output_data {
  margin-top: 25px;
}
.output_data > .title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.table_odata {
  display: flex;
  flex-wrap: wrap;
}
.table_odata .uniform_load {
  margin-right: 50px;
}
.title_uload,
.title_icall {
  font-weight: 700;
}

.average-min,
.call_in_day,
.call_in_day-num,
.call_same_time,
.call_same_time-num {
  display: flex;
}
.min-num,
.max-num {
  min-width: 57px;
}
.average-num,
.min-num,
.max-num {
  margin-left: 15px;
}
.average-min {
  font-size: 16px;
}
.average-text,
.call_in_day-text,
.call_same_time-text {
  min-width: 182px;
}
